<section class="container search-form text-center">
    <h1 class="text-uppercase my-3">Rechercher un bien</h1>
    {{ form_start(form) }}

    <div class="row form-input">
        <div class="col my-2">
            {{ form_label(form.commune) }}
            {{ form_help(form.commune) }}
            {{ form_widget(form.commune) }}
            {{ form_errors(form.commune) }}
        </div>
            <div class="col my-2">  
            {{ form_label(form.code_postal) }}
            {{ form_help(form.code_postal) }}
            {{ form_widget(form.code_postal) }}
            {{ form_errors(form.code_postal) }}
        </div>
        <div class="col my-2">
            {{ form_label(form.type_local) }}
            {{ form_help(form.type_local) }}
            {{ form_widget(form.type_local) }}
            {{ form_errors(form.type_local) }}
        </div>
    </div>
    <div class="row form-input">
        <div class="col my-2">  
            {{ form_label(form.nb_pieces) }}
            {{ form_help(form.nb_pieces) }}
            {{ form_widget(form.nb_pieces) }}
            {{ form_errors(form.nb_pieces) }}
        </div>
        <div class="col my-2">
            {{ form_label(form.surface_terrain) }}
            {{ form_help(form.surface_terrain) }}
            {{ form_widget(form.surface_terrain) }}
            {{ form_errors(form.surface_terrain) }}
        </div>
    </div>
    <div class="row form-input">
        <div class="col my-2">
            {{ form_label(form.created_at) }}
            {{ form_help(form.created_at) }}
            {{ form_widget(form.created_at) }}
            {{ form_errors(form.created_at) }}
        </div>
        <div class="col my-2">
            {{ form_label(form.updated_at) }}
            {{ form_help(form.updated_at) }}
            {{ form_widget(form.updated_at) }}
            {{ form_errors(form.updated_at) }}
        </div>
    </div>
    <div class="text-center mt-5">
        {{ form_widget(form.Submit) }}
        {{ form_widget(form.Reset) }}
    </div>

    {# <input type="hidden"  id="search__token" name="search[_token]" value="{{ csrf_token('search-form') }}"> #}
    {# {{ form_end(form, {'render_rest': false}) }} #}
    {{ form_end(form)}}
</section>