{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<section class="container label-color text-center">
    <h1 class="text-uppercase my-3">Inscription</h1>
    {{ form_start(registrationForm) }}

    <div class="col my-2 form-input">
        {{ form_label(registrationForm.email) }}
        {{ form_help(registrationForm.email) }}
        {{ form_widget(registrationForm.email) }}
        {{ form_errors(registrationForm.email) }}
    </div>
    <div class="col my-2 form-input">
        {{ form_label(registrationForm.firstname) }}
        {{ form_help(registrationForm.firstname) }}
        {{ form_widget(registrationForm.firstname) }}
        {{ form_errors(registrationForm.firstname) }}
    </div>
    <div class="col my-2 form-input">
        {{ form_label(registrationForm.lastname) }}
        {{ form_help(registrationForm.lastname) }}
        {{ form_widget(registrationForm.lastname) }}
        {{ form_errors(registrationForm.lastname) }}
    </div>
    <div class="col my-2 form-input">
        {{ form_label(registrationForm.phone_number) }}
        {{ form_help(registrationForm.phone_number) }}
        {{ form_widget(registrationForm.phone_number) }}
        {{ form_errors(registrationForm.phone_number) }}
    </div>
    <div class="col my-2 form-input">
        {{ form_label(registrationForm.plainPassword) }}
        {{ form_help(registrationForm.plainPassword) }}
        {{ form_widget(registrationForm.plainPassword) }}
        {{ form_errors(registrationForm.plainPassword) }}
    </div>
    <div class="checkbox">
        {{ form_label(registrationForm.agreeTerms) }}
        {{ form_help(registrationForm.agreeTerms) }}
        {{ form_widget(registrationForm.agreeTerms) }}
        {{ form_errors(registrationForm.agreeTerms) }}
    </div>
    <div class="text-center mt-5">
        {{ form_widget(registrationForm.Submit) }}
        {{ form_widget(registrationForm.Reset) }}
    </div>

    {# <input type="hidden"  id="search__token" name="search[_token]" value="{{ csrf_token('search-form') }}"> #}
    {# {{ form_end(form, {'render_rest': false}) }} #}
    {{ form_end(registrationForm)}}
</section>

    {# <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.firstname,{
            label : 'First Name'
        }) }}
        {{ form_row(registrationForm.lastname, {
            label: 'Last Name'
        }) }}
        {{ form_row(registrationForm.phone_number, {
            label: 'Phone Number'
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }} #}
{% endblock %}

