<header class="py-3 mb-4 border-bottom">
<nav class="py-2 bg-body-tertiary border-bottom">
    <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
            <li class="nav-item">
                <a href="{{ path('app_home')}}" class="nav-link link-body-emphasis px-2">
                    <img src="{{asset('images/weemo-logo.png')}}"  alt="weemo" class="logo-img"> 
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link link-body-emphasis px-2">NOS ANNONCES</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link link-body-emphasis px-2">ACHETER</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('app_listing_add')}}" class="nav-link link-body-emphasis px-2">VENDRE</a>
            </li>
           
        </ul>
        <ul class="nav">
            {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
                <a href="{{ path('app_admin')}}" class="nav-link link-body-emphasis px-2">Espace Administrateur</a>
            </li>
            {% endif %}

            {% if app.user %}
            <li class="nav-item">
                <a class="btn btn-primary text-uppercase disabled" href="#">Mon espace</a> <span class="white">-</span> <a class="btn btn-danger" href="{{ path('app_logout') }}">Se deconnecter</a>
            </li>
            {% else %}
            <ul class="nav">
                <li class="nav-item"><a class="btn btn-primary me-1" href="/login" class="nav-link link-body-emphasis px-2">Se connecter</a></li>
                <li class="nav-item"><a class="btn btn-danger me-1" href="/register" class="nav-link link-body-emphasis px-2">S'inscrire</a></li>
            </ul>
            {% endif %}

            {# <li class="nav-item">
                <a href="{{ path('app_login')}}" class="nav-link link-body-emphasis px-2">Se connecter</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('app_register')}}" class="nav-link link-body-emphasis px-2">S'inscrire</a>
            </li> #}
        </ul>
    </div>
</nav>
</header>
