<ul>
	<div class="container">

		<div class="row">
			{% for property in properties %}
					<div class="container px-4 px-lg-5 my-5">

			<div class="row gx-4 gx-lg-5 align-items-center">
				<div class="col-md-6">

					<div id="carouselExample" class="carousel slide">
						<div class="carousel-inner">
							<div class="carousel-item active">
								<img src="{{asset('images/1.jpeg')}}" alt="image" class="image d-block w-100">
							</div>

							<div class="carousel-item">
								<img src="{{asset('images/2.jpeg')}}" alt="image" class="image d-block w-100">
							</div>

							<div class="carousel-item">
								<img src="{{asset('images/3.jpeg')}}" alt="image" class="image d-block w-100">
							</div>
							<div class="carousel-item">
								<img src="{{asset('images/4.jpeg')}}" alt="image" class="image d-block w-100">
							</div>
							<div class="carousel-item">
								<img src="{{asset('images/5.jpeg')}}" alt="image" class="image d-block w-100">
							</div>

							<div class="carousel-item">
								<img src="{{asset('images/6.jpeg')}}" alt="image" class="image d-block w-100">
							</div>
							<div class="carousel-item">
								<img src="{{asset('images/7.jpeg')}}" alt="image" class="image d-block w-100">
							</div>
						</div>
						<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
					</div>
					 <h5 class=" card-title">{{property.typeLocal}}</h5>
						<p class="card-text">Une belle propriété 
							<p>{{ property.noVoie }}  {{ property.typeVoie }}  {{ property.voie }}</p>
					<p>{{ property.commune }}	</p>
						<p>
							Nombre de pièces : {{property.nbPieces}}
						</p>
						<p>
							Nombre de pièces : {{property.nbPieces}}
						</p>
						<P>Surface Bati : {{property.surfaceReelleBati}}m2</p>
				
						
						<a href="{{ path('property_show', {'id': property.id})}}" class="btn btn-primary">Détails</a>
					</div>
				</div>
			</div>
		{% endfor %}

	</div>
</div>
{%if page == 1%}
	<nav aria-label="Page navigation example">
		<ul class="pagination">
			<li class="page-item">
				<a class="page-link" href="/">1</a>
			</li>
			<li class="page-item">
				<a class="page-link" href="{{ path('app_home', {'page': 2}) }}">2</a>
			</li>
			<li class="page-item">
				<a class="page-link" href="{{ path('app_home', {'page': 3}) }}">3</a>
			</li>
			<li class="page-item">
				<a class="page-link" href="{{ path('app_home', {'page': page+3}) }}">Next</a>
			</li>
		</ul>
	</nav>
{% else %}
	<nav aria-label="Page navigation example">
		<ul class="pagination">
			<li class="page-item">
				<a class="page-link" href="{{ path('app_home', {'page': page-2}) }}">Previous</a>
			</li>
			<li class="page-item">
				<a class="page-link" href="{{ path('app_home', {'page': page-1}) }}">{{ page - 1 }}</a>
			</li>
			<li class="page-item">
				<a class="page-link" href="{{ path('app_home', {'page': page}) }}">{{page}}</a>
			</li>
			<li class="page-item">
				<a class="page-link" href="{{ path('app_home', {'page': page+1}) }}">{{page + 1}}</a>
			</li>
			<li class="page-item">
				<a class="page-link" href="{{ path('app_home', {'page': page+2}) }}">Next</a>
			</li>
		</ul>
	</nav>
{% endif %}</ul>
