{# templates/listing/new.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5 mb-5">
        <h2 class="mb-4">Ajouter une annonce - étape 3</h2>
        {{ form_start(form, {'attr': {'class': 'row g-3'}}) }}

        <div class="col-md-6">
            <div class="mb-3">
                {{ form_label(form.listing_title, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.listing_title, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.listing_title) }}
            </div>
            
          

                {# Display the file upload field and its label #}
            <div class="form-group">
                xx
                {{ form_label(form.image , null, {'label_attr': {'class': 'form-label'}}   ) }}
                {{ form_widget(form.image, {'attr': {'class': 'form-control-file'}}) }}
                {{ form_help(form.image) }}
            </div>

        </div>


        <div class="col-md-6">
            <div class="mb-3">

                <div class="mb-3">
                    {{ form_label(form.listing_description, null, {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.listing_description, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.listing_description) }}
                </div>
               
            </div>
        </div>

        <div class="col-12">
            
            <button type="submit" class="btn btn-primary">Continuer</button>
        </div>

        {{ form_end(form) }}
    </div>

    
{% endblock %}
