{% extends 'base.html.twig' %}

{% block title %}Property Listing Summary{% endblock %}

{% block body %}

<div class="container">
    <h1 class="my-4">Review Your Submissionxx</h1>

    <h2>Step 1:</h2>
    <p><strong>Listing Title:</strong> {{ step1_data['listing_title'] }}</p>
    <p><strong>Type of Rooms:</strong> {{ step1_data['type_of_rooms'] }}</p>
    <p><strong>Elevator:</strong> {{ step1_data['elevator'] ? 'Yes' : 'No' }}</p>

    <h2>Step 2:</h2>
    <p><strong>Date of Mutation:</strong> {{ step2_data['date_mutation']|date('Y-m-d') }}</p>
    <p><strong>Number of Bedrooms:</strong> {{ step2_data['number_of_bedrooms'] }}</p>

    <h2>Step 3:</h2>
    <p><strong>Nature of Mutation:</strong> {{ step3_data['nature_mutation'] }}</p>
    <p><strong>Property Condition:</strong> {{ step3_data['property_condition'] }}</p>
    <p><strong>Floor:</strong> {{ step3_data['floor'] }}</p>

    <h2>Step 4:</h2>
    <p><strong>Heating Type:</strong> {{ step4_data['heating_type'] }}</p>
    <p><strong>Image URL:</strong> {{ step4_data['img_url'] }}</p>
    <p><strong>Energy Class:</strong> {{ step4_data['energy_class'] }}</p>

    <h2>Confirm Your Information</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    
    <a href="{{ path('app_add_property_step1') }}" class="btn btn-secondary">Go Back to Step 1</a>
    <a href="{{ path('app_add_property_step2') }}" class="btn btn-secondary">Go Back to Step 2</a>
</div>


  
{% endblock %}

